body{
	background-color: PapayaWhip;
}

table{
	margin:50px auto;
	min-width: 10%;
	max-width: 50%
}

td{
	padding:10px;
}


tr .todoname-min-width{
	min-width: 15%;
	margin-left: 15px;
	margin-right: 15px;
}

td button{
	padding-top: 1px;
}

#todolist{
	text-align: left;
	line-height: 2;
	font-size: 22px;
}

.align-center{
	width:25%;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
}

.red-color{
	color: #d9534f;
}

.green-color{
	color:DarkGreen;
}

.grey-text{
	color: #868585;
}

.btn-circle{
	width: 27px;
	height: 27px;
	text-align: center;
	padding: 6px 0;
	font-size: 12px;
	line-height: 1.428571429;
	border-radius: 20px;
	border: 2px solid #636161;
	background-color: PeachPuff;
}

.glyphicon-trash{
	font-size: 1px;
}